<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <h3 class="text-primary border-bottom border-success p-2 w-50">about</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quam at, expedita nesciunt rem illo dolor, accusantium fuga temporibus nobis, suscipit et id animi ea amet molestias.
            </p>
        </div>
        <div class="col-xl-3 col-lg-6">
            <h3 class="text-primary border-bottom border-success p-2 w-50">categories</h3>
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <h3 class="text-primary border-bottom border-success p-2 w-50">social</h3>
            <div class="row text-white">
                <div class="col-lg-4 col-2">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="col-lg-4 col-2">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="col-lg-4 col-2">
                    <i class="fa fa-instagram"></i>
                </div>
                <div class="col-lg-4 col-2">
                    <i class="fa fa-google-plus"></i>
                </div>
                <div class="col-lg-4 col-2">
                    <i class="fa fa-youtube"></i>
                </div>
                <div class="col-lg-4 col-2">
                    <i class="fa fa-pinterest"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <h3 class="text-primary border-bottom border-success p-2 w-50">links</h3>
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">FAQS</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li><a href="">Pricing</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Advertising</a></li>
                        <li><a href="">Team</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>