<div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="">
      <img src="images/logo.JPG" alt="AdPoint" title="AdPoint">
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars border text-white p-3 bg-primary rounded-0"></i>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="blog">Blog</a>
            </li>
        </ul>
        <a href="setting.html">
            <button class="btn btn-outline-primary bg-transparent text-primary my-2 my-lg-0 btn-lg" type="submit">John Doe</button>
        </a>
    </div>
</div>