<!DOCTYPE html>
<html>

<head>

    <title>Log in</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootcss.css">

</head>

<body>


    <div class="container">

        <h1 class="text-primary text-center">SIGNUP</h1>



        <form action="/signup" method="post">

            <div class="form-group">

                <label>Email:</label>
                <input type="email" name="email" />

            </div>
            <div class="form-group">

                <label>First Name:</label>
                <input type="text" name="first_name" />

            </div>
            <div class="form-group">

                <label>Last Name:</label>
                <input type="text" name="last_name" />

            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" />

            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password" name="confirm_password" />

            </div>

            <div class="btn-group">

                <input type="submit" value="Signup" />

            </div>

        
            <br>
            <br>
            <br>

            <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-lable"> Remember me
                    <a href=""> Forgot password? </a>
                </label>
            </div>

        </form>

    </div>
</body>

</html>