body {
    font-family: arial;
    letter-spacing: 1px;
    background: #ffffff none repeat scroll 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: .15px;
}

.navbar {
    background-color: #f3fdff;
    color: #000;
    border-bottom: 2px solid orange
}

.navbar-brand img {
    width: 100%;
}

ul.navbar-nav li a {
    color: #000;
}

#main-section {
    background-color: #8124F4;
    color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

#main-section form button,
#main-section form input[type="search"],
#main-section form select {
    height: 45px;
}

.card {
    margin: auto;
    text-align: left;
    font-family: arial;
    margin-bottom: 25px;
    border-radius: 10px;
}

i {
    border-radius: 100%;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

#owl-carousel .card {
    border-radius: 5px;
}

#owl-carousel .card p i {
    padding-right: 5px;
}

footer .col-xl-3 {
    margin-bottom: 10px;
}

.fa-facebook {
    background-color: #3b5999;
    padding: 10px 14px;
}

.fa-twitter {
    background-color: #55acee;
    padding: 10px 14px;
}

.fa-instagram {
    background-color: #e4405f;
    padding: 10px 14px;
}

.fa-google-plus {
    background-color: #dd4b39;
    padding: 10px 10px;
}

.fa-youtube {
    background-color: #cd201f;
    padding: 10px 14px;
}

.fa-pinterest {
    background-color: #bd081c;
    padding: 10px 14px;
}

footer i {
    margin-bottom: 25px;
}

footer h3 {
    text-transform: uppercase;
}

footer a {
    text-transform: uppercase;
}

a:hover {
    text-decoration: none;
}